<div class="container">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
            <app-banner></app-banner>
        </div>

        <div *ngIf="cadastro; else formLogin">
            <div class="col-sm-6 d-flex justify-content-start" [@animacao-login]="estadoLogin" (@animacao-login.start)="inicioDaAnimacao()" (@animacao-login.done)="fimDaAnimacao()">
                <app-cadastro (exibirLoginE)="exibirPainel($event)"></app-cadastro>
            </div>
        </div>
        <ng-template #formLogin>
            <div class="col-sm-6 d-flex justify-content-start" [@animacao-login]="estadoBanner" (@animacao-login.start)="inicioDaAnimacao()" (@animacao-login.done)="fimDaAnimacao()">
                <app-login (exibirCadastro)="exibirPainel($event)"></app-login>
            </div>
        </ng-template>
    </div>
</div>